language: android

branches:
  only:
    - master

script: "./gradlew clean assembleDebug"

android:
  components:
      - platform-tools
      - tools
      - build-tools-24.0.3
      - android-24
      - extra-android-m2repository